.contacts {
  &__section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 80px;
  }
  &__title {
    text-align: center;
    margin-bottom: 20px;
    color: #32228f;
  }

  &__list {
    margin-top: 15px;
    padding: 30px 20px;
    padding-bottom: 20px;
    border: 1px solid #32228f;
    border-radius: 5px;
  }
  &__item {
    display: flex;
    align-items: center;

    font-size: 26px;
    font-weight: 500;
    color: #32228f;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
  &__number {
    margin-left: 3px;
  }
  &__name {
    margin-right: 8px;
  }
  &__remove-img {
    width: 28px;
  }

  &__btn {
    border-radius: 5px;
    margin-right: 35px;
    transform: scale(1);
    color: #8d125a;
    border-color: #8d125a;
    font-size: 22px;
    font-weight: 500;
    box-shadow: 4px 4px 10px -3px rgba(34, 60, 80, 0.2);

    &:hover,
    &:focus {
      border-color: transparent;
      background-color: #8d125a;
      color: #e4988b;
      transform: scale(1.1);
    }
  }
}
