.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #ffcfc6;
}
