.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  color: #8d125a;
  font-weight: 500;

  &__header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 34px;
    color: #8d125a;
    // font-weight: 500;
  }
  &__label {
    font-size: 22px;
  }
  &__input {
    min-width: 350px;
    border-radius: 5px;
    font-size: 30px;
    padding: 8px 6px;
    // outline: 1px solid #8d125a;
    // border: 1px solid #8d125a;
    color: #8d125a;
  }
  &__btn {
    margin-top: 20px;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: #8d125a;
    color: #e09183;
    font-size: 23px;
    font-weight: 700;
    transform: scale(1);
    // box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
    transition: transform 250 cubic-bezier(0.23, 1, 0.32, 1),
      color 250 cubic-bezier(0.23, 1, 0.32, 1),
      background-color 250 cubic-bezier(0.23, 1, 0.32, 1);
    // &:hover,
    &:focus {
      transform: scale(1.1);
      box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
      background-color: #e09183;
      color: #8d125a;
    }
  }
}
.filter {
  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__input {
    margin-top: 15px;
    border-color: #8d125a;
  }
}

// .form__contacts {
//   display: flex;
//   justify-content: space-around;

// &--header {
//   text-align: center;
// }
// &__label{

// }
// &__{
//   input
// }
// }
// .form__btn {
//   display: block;
//   margin: 30px auto;
// }
