// @import "styles/shared.scss";

.header {
  text-align: center;
  font-size: 40px;
  color: #8d125a;
}
.form {
  &__box {
    align-items: center;
    color: #8d125a;
  }

  &__label {
    font-size: 26px;
    margin-right: 10px;
  }
  &__input {
    border-radius: 5px;
    font-size: 30px;
    padding: 8px 4px;
    background-color: #e2a499;
    border-color: #e2a499;
    color: #881a07;

    &:hover,
    &:focus {
      background-color: #e2a499;
      border-color: #ac503f;
      outline: 2px solid #ac503f;
    }
  }
  &__btn-thumb {
    display: block;
    text-align: center;
    margin-top: 30px;
  }
  &__addBtn {
    width: 200px;
    height: 60px;
    border-radius: 5px;
    background-color: #8d125a;
    color: #d3897c;
    font-size: 20px;
    font-weight: 500;
    transform: scale(1);
    box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
    transition: transform 250 cubic-bezier(0.23, 1, 0.32, 1),
      color 250 cubic-bezier(0.23, 1, 0.32, 1),
      background-color 250 cubic-bezier(0.23, 1, 0.32, 1);
    &:hover,
    &:focus {
      transform: scale(1.1);
      background-color: rgb(172, 8, 71);
      color: #d3897c;
    }
  }
}
