.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
  color: #8d125a;
  font-weight: 500;

  &__header {
    margin-bottom: 30px;
    text-align: center;
    font-size: 34px;
    color: #8d125a;
  }

  &__input {
    min-width: 375px;
    border-radius: 5px;
    font-size: 27px;
    padding: 8px 6px;
    color: #1d4d14;
    transition: box-shadow 250 cubic-bezier(0.37, 0.18, 0.77, 0.32);
    &:hover,
    &:focus {
      box-shadow: 3px 1px 7px 1px rgba(34, 60, 80, 0.2);
    }
  }
  &__btn {
    display: block;
    margin: 30px auto;
    width: 200px;
    height: 60px;
    border-radius: 5px;
    color: #cccccc;
    border-color: #8d125a;
    background-color: #9e1d68;
    font-size: 23px;
    font-weight: 700;
    scale: 1;
    transition: transform 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
      box-shadow 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
      color 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67),
      background-color 200ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
    &:hover,
    &:focus {
      transform: scale(1.075);
      border-color: transparent;
      box-shadow: 4px 4px 10px 0px rgba(34, 60, 80, 0.2);
    }
    &:disabled {
      border: 1px solid #496644;
      background-color: #cccccc;
      color: #496644;
    }
  }
}
.filter {
  &__box {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__input {
    margin-top: 15px;
    border-color: #8d125a;
  }
  &__title {
    margin-top: 20px;
    color: #8d125a;
  }
}

.form__contacts {
  display: flex;
  justify-content: center;

  &--header {
    margin-top: 30px;
    margin-right: 7px;
  }
  &--label {
    font-size: 22px;
    color: #8d125a;
  }

  &--box:not(:last-child) {
    margin-right: 60px;
  }
}
.form__password {
  &--error {
    color: red;
  }
  &--normal {
    color: rgb(34, 60, 80);
  }
}
